html,
body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 3px;
}

.app {
  text-align: center;
}

.bg-app-gradient {
  background: #efefbb;
  background: linear-gradient(to right, #DEF3FD, #FDDFDF);
}

.app-header {
  background-color: #282c34;
}

.app-container {
  text-align: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pokemon {
  background-color: #eee;
  border-radius: 1.5rem;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 20px;
  padding: 20px;
}

.link-card {
  text-decoration: none;
  color: black;
}

.link-to-home {
  margin: 20px 0px 0px 15px;
  text-decoration: none;
  color: black;
}

.link-to-home svg {
  text-decoration: none;
  color: black;
}

.link-to-home span {
  color: black;
}

.card-img-top img {
  max-width: 35%;
}

.img-detail {
  max-width: 100%;
}

.number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 0.5rem;
  font-size: 0.8em;
  font-weight: 500;
  color: black;
}

.numberOverPokemon {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.683);
  position: absolute;
  bottom: 30px;
  left: 550px;
  font-style: italic;
}

.tag {
  border-radius: 0.5rem;
  box-shadow: 1px 2px 4px rgb(100 100 100 / 50%);
  padding: 5px 15px;
}

.type {
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
}

.name {
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: #282c34;
  font-weight: 600;
}

.nameOnDetail {
  color: #282c34;
  font-size: 80px;
  font-weight: 700;
  padding-top: 5%;
}

.container-pokemon {
  height: calc(100vh - 60px);
}

.lineSeparation {
  border-left: 1px solid #32353a;
}

.containerNameType {
  margin-left: 20%;
}

.text-to-home {
  font-size: 1.5rem;
  font-weight: 500;
}

/* LOGIN BOX */
.bg-login {
  background-image: url('../../images/bg-img-login.webp');
  background-size: cover;
}

.login-box {
  height: 98%;
  width: 45%;
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 1px 2px 4px rgb(100 100 100 / 50%);
}

.hover-underline-animation {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: #282c34;
  font-weight: 600;
}

.hover-underline-animation:hover {
  color: rgb(220, 53, 69);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: rgb(220, 53, 69);
  color: rgb(220, 53, 69);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

/* TEAM */
.card-team {
  background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	max-height: 100%;
	margin: 20px 12% 20px 12%;
  padding: 20px;
	overflow: hidden;
}

.card-pokemon-team {
  width: 280px;
  height: 160px;
  background-color: #e11d48;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 1rem;
  margin: 8px;
}