html,
body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 3px;
}

.app {
  text-align: center;
}

.bg-app-gradient {
  background: #efefbb;
  background: linear-gradient(to right, #DEF3FD, #FDDFDF);
}

.app-header {
  background-color: #282c34;
}

.app-container {
  text-align: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pokemon {
  background-color: #eee;
  border-radius: 1.5rem;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 20px;
  padding: 20px;
}

.link-card {
  text-decoration: none;
  color: black;
}

.link-to-home {
  margin: 20px 0px 0px 15px;
  text-decoration: none;
  color: black;
}

.link-to-home svg {
  text-decoration: none;
  color: black;
}

.link-to-home span {
  color: black;
}

.card-img-top img {
  max-width: 35%;
}

.img-detail {
  max-width: 100%;
}

.number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 0.5rem;
  font-size: 0.8em;
  font-weight: 500;
  color: black;
}

.numberOverPokemon {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  color: rgb(0 0 0 / 53%);
  position: absolute;
  bottom: 30px;
  left: 550px;
  font-style: italic;
}

.tag {
  border-radius: 0.5rem;
  box-shadow: 1px 2px 4px rgb(100 100 100 / 50%);
  padding: 5px 15px;
}

.type {
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
}

.name {
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: #282c34;
  font-weight: 600;
}

.nameOnDetail {
  color: #282c34;
  font-size: 80px;
  font-weight: 700;
  padding-top: 5%;
}

.container-pokemon {
  height: calc(100vh - 60px);
}

.lineSeparation {
  border-left: 1px solid #32353a;
}

.containerNameType {
  margin-left: 20%;
}

.text-to-home {
  font-size: 1.5rem;
  font-weight: 500;
}