<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/svg" href="{% static 'images/logo.svg' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'pokedex/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'pokedex/css/pokemon.css' %}" />
  <title>Pokedex</title>
</head>
<body class="app bg-app-gradient">
  {% include "./navigation/header.html" %}
  <main class="app-container">
    <h1 class="mb-2">Pokedex</h1>
    <div class="container">
      <div class="row justify-content-center">
        {% if pokemons|length > 0 %}
        {% for pokemon in pokemons %}
          {% for poke in pokemon %}
          <div class="col-md-3 card pokemon" style="background-color: {{ poke.backgroundColor }}">
            <a href="{% url 'pokemon-details' poke.id %}" class="link-card">
              <div class="card-img-top">
                <img src="{{ poke.img }}" alt="{{ poke.name }}" loading="lazy">
              </div>
              <div class='card-body'>
                <span class="number">N°{{ poke.id|stringformat:"03d" }}</span>
                <h3 class="name">{{ poke.name|title }}</h3>
                <small class="tag" style="background-color: {{ poke.color }}">
                  <span class="type">{{ poke.type }}</span>
                </small>
              </div>
            </a>
          </div>
          {% endfor %}
        {% endfor %}
        {% else %}
        {% if error|length > 0 %}
        {{error}}
        {% else %}
            <p>Aucun pokémon</p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </main>
</body>
</html>