<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/svg" href="{% static 'images/logo.svg' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'pokedex/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'pokedex/css/pokemon.css' %}" />
  {% for pokemon in pokemons %}
    <title>Pokedex - {{ pokemon.name }}</title>
  {% endfor %}
</head>
<body class="app">
  {% include "./navigation/header.html" %}
  {% for pokemon in pokemons %}
  <div class="container-fluid h-100" style="background-color: {{ pokemon.color }}">
    <div class="d-flex no-block justify-content-start">
      <a href="{% url 'index' %}" class='link-to-home' >
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </a>
    </div>
    <div class="d-flex no-block justify-content-start">
      <div class="container-main-info">
          <div class="img-container">
            <img src="{{ pokemon.sprites.other.home.front_default }}" alt="{{ pokemon.name }}" class="img-detail">
          </div>
          <div class='info'>
            <span class="number">#{{ pokemon.id|stringformat:"03d" }}</span>
            <h3 class="name">{{ pokemon.name }}</h3>
            <small class="type">Type: <span>{{ pokemon.types.0.type.name }}</span> </small>
          </div>
        </div>
        <form action="{% url 'addPokemon' %}" method="post">
          {% csrf_token %}
          <input name="id" type="hidden" value={{pokemon.id}}>
          <button type="submit">Ajouter</button>
        </form>
        <!-- <div class="container-second-info">
              
        </div> -->
      </div>
    </div>
  {% endfor %}
</body>
</html>