<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/svg" href="{% static 'images/logo.svg' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'pokedex/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'pokedex/css/pokemon.css' %}" />
  {% for pokemon in pokemons %}
    <title>Pokedex - {{ pokemon.name }}</title>
  {% endfor %}
</head>
<body class="app">
  <div class="h-100">
    {% include "./navigation/header.html" %}
    {% for pokemon in pokemons %}
      <div class="position-fixed float-start mt-3 ms-3">
        <a href="{% url 'index' %}" class="link-to-home">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </a>
      </div>
      <div class="container-pokemon" style="background-color: {{ pokemon.backgroundColor }}">
        <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center h-100">
          <div class="d-flex flex-column flex-nowrap justify-content-between h-100 w-50">
            <div class="d-flex flex-column flex-nowrap justify-content-center align-items-start h-100 containerNameType">
              <h2 class="nameOnDetail">{{ pokemon.name|title }}</h2>
              <small class="tag" style="background-color: {{ pokemon.color }}">
                <span class="type">{{ pokemon.types.0.type.name }}</span>
              </small>
            </div>
            <div class="h-100 mb-3">
              <div class="img-container">
                <img src="{{ pokemon.sprites.other.home.front_default }}" alt="{{ pokemon.name }}" class="img-detail">
                <span class="numberOverPokemon">#{{ pokemon.id|stringformat:"03d" }}</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center h-100 w-50">
            <div class="lineSeparation h-75 w-75">
              <h2>info secondaire</h2>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</body>
</html>