<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="{% static 'images/logo.svg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pokedex/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pokedex/css/pokemon.css' %}" />
    <title>Pokemon Team</title>
</head>
<body>
    
  {% include "./navigation/header.html" %}
    <h1>Toutes les équipes</h1>

    <div>

            Voici la liste des team qui ont été créer :
            <ul>
                
                {% for team in team_list %}
                <p>Titre de l'équipe : {{ team.title }}</p>
                <p>Auteur : {{team.user}}</p>
                <li>Pokémon 1 : {{ team.idPokemon1 }} </li>
                <li>Pokémon 2 : {{ team.idPokemon2 }} </li>
                <li>Pokémon 3 : {{ team.idPokemon3 }} </li>
                <li>Pokémon 4 : {{ team.idPokemon4 }} </li>
                <li>Pokémon 5 : {{ team.idPokemon5 }} </li>
                <P></P>
                {% endfor %}
    
        </ul>
    </div>
</body>
</html>